---
layout: default
---

{% include lang.html %}


<div style="font-family: inherit; color: var(--text-color);">
    <p><strong>Welcome to the documentation for the Automated Mineralogy Lab.</strong></p>
    <p>Please note that this space is dedicated to documenting the operations of <a href="https://cpg.kfupm.edu.sa/aml" target="_blank">the Automated Mineralogy Lab (AML)</a>, covering everything from sample preparation to data processing. This initiative is part of our comprehensive data acquisition protocols. The content is currently being prepared offline and will be available as soon as it is completed.</p>
    <p>For more information, please contact <a href="mailto:aml@kfupm.edu.sa">aml@kfupm.edu.sa</a>.</p>
</div>

  
<a href="https://qubalee.com/amldocs/" style="
    color: #0056b3; 
    text-decoration: none; 
    font-size: 16px; 
    font-weight: bold; 
    transition: color 0.3s;
" onmouseover="this.style.color='#004494'" onmouseout="this.style.color='#0056b3'">
    ℹ️ Learn More
</a>
