---
layout: default
---


<div style="font-family: inherit; color: var(--text-color);">
    <p><strong>Welcome!</strong></p>
</div>

<br>

<div><iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/5BedgJ68TazgqJx9MegIdc?utm_source=generator&theme=0" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe></div>
<br>

<div><iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/6emAgs0ZdD0HjSV8g1d8LY?utm_source=generator&theme=0" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe></div>
<br>

<div><iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/7yo66arGADRzTS1NWyJHC2?utm_source=generator&theme=0" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe></div>
<br>



<div style="margin-bottom: 20px;">
    <strong>Check out GeoPodcast on YouTube:</strong> 
    <a href="https://www.youtube.com/playlist?list=PLKf44cRVd8TO43lXnTbBmgrX1M3cViy7d" style="color: #007bff; text-decoration: none;">DeepDive GeoPodcast S1</a>.
</div>
<div style="margin-bottom: 20px;">
    <strong>For feedback, please contact us at</strong> 
    <a href="mailto:abdullah@qubalee.com" style="color: #007bff; text-decoration: none;">abdullah@qubalee.com</a>.
</div>