---
layout: default
---

{% include lang.html %}


<div style="font-family: inherit; color: var(--text-color);">
    <p><strong>Welcome to the GeoPodcast!</strong></p>
    <p>Join us as we explore the fascinating world of geoscientific research and education activities! In each episode with the aid of AI (Notebooklm), we delve into a different study, breaking down complex topics into easy-to-understand insights for everyone. Whether you are a student, a professional, or simply curious about the latest research, this podcast aims to make academic findings accessible and engaging.</p>
</div>

<div style="margin-bottom: 20px;">
    <strong>Check out the GeoPodcast S1:</strong>
    <div style="display: flex; gap: 20px; align-items: center;">
        <a href="https://www.youtube.com/playlist?list=PLKf44cRVd8TO43lXnTbBmgrX1M3cViy7d" target="_blank" class="icon" aria-label="GeoPodcast on YouTube">
            <i class="fab fa-youtube"></i>
            <span class="text">YouTube Podcast</span>
        </a>
        <a href="https://creators.spotify.com/pod/show/qubalee" target="_blank" class="icon" aria-label="GeoPodcast on Spotify for Creators">
            <i class="fab fa-spotify"></i>
            <span class="text">Spotify for Creators</span>
        </a>

        <a href="https://open.spotify.com/show/5s8vdTHOFC7gFZi6IuTTQ0" target="_blank" class="icon" aria-label="GeoPodcast on Spotify">
            <i class="fab fa-spotify"></i>
            <span class="text">Spotify Open</span>
        </a>
    </div>
</div>

<div style="margin-bottom: 20px;">
    <strong> (تجربة) تابع بودكاست جيولوجية - الجزء الأولى</strong>
    <div style="display: flex; gap: 20px; align-items: center;">
        <a href="https://www.youtube.com/playlist?list=PLKf44cRVd8TMtF6SxUGjEqPnQLf8NZhi4" target="_blank" class="icon" aria-label="GeoPodcast on YouTube">
            <i class="fab fa-youtube"></i>
            <span class="text">YouTube Podcast</span>
        </a>
    </div>
</div>

<div style="margin-bottom: 20px;">
    <strong>For feedback, please contact us at</strong> 
    <a href="mailto:abdullah@qubalee.com" style="color: #007bff; text-decoration: none;">abdullah@qubalee.com</a>.
</div>
